<div class="container bg-light p-5">
  <div class="row mb-5">
    <div class="col-12 bg-dark p-4 rounded">
      <h1 class="text-center text-warning">CAJA REGISTRADORA</h1>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-9 col-sm-12">
      <lista-productos titulo="Comida:" [productos]="arrProductosComida" (productoSeleccionado)="addProducto($event)"></lista-productos>
      <lista-productos titulo="Bebidas:" [productos]="arrProductosBebida" (productoSeleccionado)="addProducto($event)"></lista-productos>
      <lista-productos titulo="Postres:" [productos]="arrProductosPostres" (productoSeleccionado)="addProducto($event)"></lista-productos>
    </div>
    <div class="col-md-3 col-sm-12">
        <pedido [pedido]="arrProductosPedidos"></pedido>
    </div>
  </div>


</div>
